<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--for icon of website  -->
    <link rel="icon" href="/public/assets/Favicon.svg" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/Favicon.svg">    

    <title>ZabiTube</title>
    <link rel="stylesheet" href="/Stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <div id="main" class="flex f-d-column">
        <%- include('./partials/inside-h.ejs') %>
        <div class="hero">
            <div class="feed flex justify-content">
                <% posts.reverse().forEach(function(elem) {%>
                    <div class="feed-vid">
                        <div class="video-thumbnail"><a href="/watchvideo/<%= elem._id %>"
                                style="height: 100%; width: 100%; display: block;"><div style="width: 100%; height: 100%; background: url('/images/uploads/<%= elem.thumbnail %>'); background-position: center;background-repeat: no-repeat;background-size: contain;"></div></a>
                        </div>
                        <div class="video-footer">
                            <div class="title flex align-items gap-1">
                                
                                <h2><%= elem.title %></h2>
                            </div>
                            <div class="info">
                                <div class="flex" style="gap: 0.2rem; align-items: center;">
                                    <p><%= elem.likes.length %></p>
                                    <a href="/likes/post/<%= elem._id%>">
                                        <% if (elem.likes.indexOf(user._id) !== -1 ) {%>
                                            <i class="ri-heart-fill"></i>
                                        <%} else {%>
                                            <i class="ri-heart-line" id="like-icon"></i>
                                        <%}%>
                                    </a>
                                </div>
                                <div class="chanel-info flex gap-1 align-items">
                                    <div style="width: 2rem; height: 2rem;border-radius: 100%; background: url('/images/uploads/<%= elem.uploader.profileImage %>'); background-position: center;background-repeat: no-repeat;background-size: contain;"></div>
                                    <!-- <img src="/images/uploads/<%= elem.uploader.profileImage %>" alt="Profile Picture"> -->
                                    <p><%= elem.uploader.fullname %></p>
                                </div>
                                <p><%= moment(elem.date).fromNow() %></p>
                            </div>
                        </div>
                    </div>
                <%}) %>
                
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });
        
        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" integrity="sha512-hUhvpC5f8cgc04OZb55j0KNGh4eh7dLxd/dPSJ5VyzqDWxsayYbojWyl5Tkcgrmb/RVKCRJI1jNlRbVP4WWC4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<%- include('./partials/footer.ejs') %>